:root {
  --main-font: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html,
body,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h3 {
  font-size: 1.25rem;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 0;
  margin: 0;
  height: 100vh;
}

main {
  background-color: #eee;  
  /* max-width: 600px;  
  max-height: 900px; */
  margin: 0 auto;
  padding: 1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main {
  display: none;
}

img {
  
  max-width: 100%;  
  padding: 0;
  margin: 0.5rem;
  margin-right: -3rem; 
  right: 1.5rem;
  display: flex;
  z-index: 3;
}

/* #############  Modal  ############# */

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(20, 20, 20, 0.2);
  z-index: 100;
}

#modal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.9);
  padding: 2rem 4rem;
  border-radius: 12px;
  max-width: 600px;
  text-align: center;
}

#modal-message {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#new-deck {
  background: #e02401;
  transition: 0.35s;
  border-color: #fff;
  color: #fff;
}

#new-deck:hover,
#new-deck:focus {
  box-shadow: 0 0 #444;
  background: #ff3c19;
  color: #941600;
  border-color: #941600;
}



/* #############  NavBar  ############# */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 156, 7);
  padding: 1rem 0.5rem; 
  margin-bottom: 1rem;
  
}


#nav-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;  
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(100, 100, 100, 0.6);
  transition: 0.35s;
  margin: 0;
  margin-right: auto;
}

.nav-btn:hover,
.nav-btn:focus {
  box-shadow: 0 0 #fff;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

#player-name {
  color: #fff;
}

/* #############  Middle Section  ############# */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 
}

#middle-section {
  grid-area: middle;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; 
  padding: 0;
  background-image: url("https://raw.githubusercontent.com/guthribm/SimpleBlackJack/main/images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.cards-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
}

.card-image {
  max-width: 45%;
}

.card-sum {
  padding: 0.5rem;
  color: white;
  width: 100%;
  font-size: 1.5rem;  
  height: 40%;
  display: inline-block;  
}


/* #############  Dealer  ############# */

#dealer-cards {
  justify-content: flex-end;
  width: 60%;
  
}

#dealer-sum {
  background: #c42918;  
  text-align: right;
  padding-left: 2rem;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}

#dealer-cards .card-image {
  box-shadow: -5px 5px 0px #c42918;
  border-radius: 5px;
}


/* #############  Player  ############# */



#player-cards {
  justify-content: flex-start;
  width: 60%;
  right: 2rem;
  
}

#player-name {
  margin-right: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  text-align: right;
}

#player-sum {
  background: #0e5dc4;
  text-align: left;
  padding-right: 2rem;
  box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.25);
}

#player-cards .card-image {
  
  border-radius: 5px;
  box-shadow: -5px 5px 0px #0e5dc4
}


/* #############  Buttons Section  ############# */

#buttons-container { 
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#player-message {
  grid-area: message;
  padding: .5rem 1rem;
  background: #eee;
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  width: 80%;
  border-radius: 12px;
  margin: 1rem auto;  
  display: block;
  width: 90%;
  justify-content: center;
  align-items: center;
}

#draw-card {
  grid-area: button1;
  visibility: hidden;
  background: #02783a;
  max-width: 150px;
  color: #eee;
}

#draw-card:hover,
#draw-card:focus {
  background: #00c45f;
  color: #024d26;
  border-color: #024d26;
  box-shadow: 0px 0px #000;
}

#stay-btn {
  grid-area: button2;
  visibility: hidden;
  background: #eee;
  max-width: 150px;
  border-color: #c42918;
  color: #c42918;
}

#stay-btn:hover,
#stay-btn:focus {
  background: #64150d;
  color: #f58679;
  border-color: #f58679;
  box-shadow: 0px 0px #999;
}

#ok-btn {
  display: none;
}

.btn {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 12px;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.bottom-btn {
  width: 40vw;
  max-width: 200px;
  transition: 0.35s;
  margin: 0 1rem;
}


/* #############  Media Queries Mobile View  ############# */

@media (max-width: 450px) {

  html {
    font-size: 12px;
  }

  main {
    height: 100vh;
  }

  #player-name {
    font-size: 1.5rem;
  }

  #player-message {
    
    font-size: 1rem;
  }

  .btn {
    font-size: 1rem;
  }
  
}
