:root {
  --main-font: "Ubuntu", sans-serif;
  --title-font: "Cinzel", serif;
  --dark-primary: #232931;
  --dark-secondary: #393e46;
  --accent-bonus: #4ecca3;
  --primary-light: #eeeeee;
  --stay: #ff5347;
  --draw: #77ff54;
  --accent: #edff61;
  --title: #7abbff;
  --computer-color: #b33294;
  --computer-color-light: #ff54d7;
  --player-color: #5956b3;
  --player-color-light: #7afffd;
}

*,
::before,
::after {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h1 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-light);
  padding: 0;
  margin: 0;
  height: 100vh;
}

main {
  background-color: var(--dark-primary);
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  box-shadow: 0px 0px 8px 3px rgba(100, 100, 100, 0.6),
    0px 0px 10px 5px rgba(100, 100, 100, 0.3);
}

img {
  max-width: 100%;
  padding: 0;
  margin: 0.5rem;
  margin-right: -2rem;
  right: 1.5rem;
  display: flex;
  z-index: 3;
}

li {
  text-align: left;
  margin-top: 1rem;
  font-weight: bolder;
}

mark {
  background-color: var(--accent);
}

/* #############  Modal  ############# */

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--primary-light);
  background-color: rgba(35, 41, 49, 0.3);
  z-index: 100;
  padding: 1rem;
}

#modal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.9);
  padding: 1rem;
  border-radius: 12px;
  min-width: 200px;
  max-width: 600px;
  text-align: center;
}

#modal p {
  margin: 0;
  padding: 0;
}

#modal-message {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.game-title {
  font-family: var(--title-font);
  color: var(--title);
}

.game-subtitle {
  font-family: var(--title-font);
  font-style: italic;
}

.rules {
  margin: 2rem auto;
  border-radius: 12px;
  background: var(--primary-light);
  color: var(--dark-primary);
  padding: 1rem;
  text-transform: uppercase;
}

#time {
  margin-bottom: 1rem;
}

#in-a-row {
  color: var(--accent);
  text-shadow: 0 0 8px var(--accent);
}

.got-blackjack {
  color: var(--accent);
  text-shadow: 0 0 8px var(--accent);
}

#new-deck {
  background: var(--accent);
  transition: 0.35s;
  border-color: var(--dark-primary);
  color: var(--dark-primary);
}

#new-deck:hover,
#new-deck:focus {
  box-shadow: 0 0 #444;
  background: #ff3c19;
  color: #941600;
  border-color: #941600;
}

/* #############  NavBar  ############# */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--dark-secondary);
  padding: 1rem 0.5rem;
}

#nav-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: 0.35s;
  margin: 0;
  margin-right: auto;
  background-color: var(--dark-secondary);
  color: var(--primary-light);
  border: 2px solid var(--primary-light);
}

.nav-btn:hover,
.nav-btn:focus {
  box-shadow: 0 0 var(--primary-light);
  background: var(--primary-light);
  color: var(--dark-secondary);
  border-color: var(--dark-secondary);
}

#player-name {
  background: var(--primary-light);
  color: rgba(60, 60, 60, 1);
  padding: 0.25rem 0.5rem;
  font-size: 1.45rem;
  margin: 0 0.5rem;
  font-weight: bolder;
  display: flex;
  text-align: right;
}

#chip-amount {
  color: rgba(60, 60, 60, 1);
  padding-left: 0.5rem;
}

/* #############  Middle Section  ############# */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#middle-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding: 0;
  background-image: url("https://raw.githubusercontent.com/guthribm/SimpleBlackJack/main/images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.cards-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
}

.card-image {
  width: 75px;
}

.card-sum {
  padding: 0.5rem;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.25rem;
  height: 40%;
  display: inline-block;
  font-weight: bolder;
}

/* #############  Dealer  ############# */

#dealer-cards {
  justify-content: flex-end;
  width: 60%;
}

#dealer-sum {
  background: var(--dark-secondary);
  color: var(--primary-light);
  text-align: right;
  padding-left: 2rem;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
}

#dealer-cards .card-image {
  box-shadow: -5px 0px 3px rgba(35, 41, 49, 0.5);
  border-radius: 5px;
}

/* #############  Player  ############# */

#player-cards {
  justify-content: flex-start;
  width: 60%;
  right: 2rem;
}

#player-sum {
  background: var(--primary-light);
  text-align: left;
  padding-right: 2rem;
  box-shadow: 0px -5px 6px rgba(0, 0, 0, 0.25);
  color: var(--dark-primary);
}

#player-cards .card-image {
  border-radius: 5px;
  box-shadow: -5px 0px 3px rgba(35, 41, 49, 0.5);
}

/* #############  Buttons Section  ############# */

#buttons-container {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 1rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

@keyframes btn-click {
  0% {
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0);
  }
}

.clicked {
  animation: btn-click 1s;
}

#player-message {
  grid-area: message;
  padding: 0.5rem 1rem;
  background: var(--dark-secondary);
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--primary-light);
  border-radius: 6px;
  margin: 1rem auto;
  width: 90%;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
}

#draw-card {
  grid-area: button1;
  background: var(--draw);
  max-width: 150px;
  color: var(--dark-primary);
  border-color: var(--dark-primary);
}

#draw-card:hover {
  animation: btn-click 1s;
  background: var(--dark-primary);
  color: var(--draw);
  border-color: var(--draw);
  box-shadow: 0px 0px #000;
}

#stay-btn {
  grid-area: button2;
  background: var(--stay);
  max-width: 150px;
  border-color: var(--stay);
  color: var(--primary-light);
}

#stay-btn:hover {
  animation: btn-click 1s;
  background: var(--dark-secondary);
  color: var(--stay);
  border-color: var(--stay);
  box-shadow: 0px 0px #999;
}

#ok-btn {
  display: none;
}

.btn {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 12px;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
  transition: 0.35s;
}

.bottom-btn {
  width: 40vw;
  max-width: 200px;
  transition: 0.35s;
  margin: 0 1rem;
}

/* #############  Media Queries Mobile View  ############# */

@media (min-width: 600px) {
  html {
    font-size: 18px;
  }

  body {
    background-color: var(--dark-secondary);
  }

  main {
    padding: 1rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bottom-btn {
    width: 100%;
    height: 70px;
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  .card-sum {
    font-size: 1.5rem;
  }

  #player-message {
    font-size: 1.5rem;
  }

  #buttons-container {
    margin: 2rem auto;
  }

  .card-image {
    width: 110px;
  }
}
