:root {
  --main-font: "Roboto", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

h3 {
  font-size: 1.25rem;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 100vh; */
  background-color: #333;
  padding: 0.5rem 0;
}

main {
  background-color: #eee;
  width: 95%;
  max-width: 600px;
  height: 95vh;
  max-height: 1000px;
  display: grid;
  grid-template-rows: 10% 70% 10% 10%;
  grid-template-areas: "nav" "middle" "text" "buttons";
  margin: 0 auto;
  padding: 1rem;
  /* border-color: blue;
  border-width: 4px; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #eee;
  padding: 1rem 0.5rem;
  /* position: fixed;
  top: 0;
  margin: 0 auto 2rem; */
  grid-area: nav;
}

img {
  height: 120px;
  width: calc(120px * 5 / 7);
  padding: 0;
  margin: 0.5rem;
  margin-right: -3rem;
  /* position: relative; */
  right: 1.5rem;
  display: flex;
  z-index: 3;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(20, 20, 20, 0.2);
  z-index: 100;
}

#modal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: rgba(60, 60, 60, 0.9);
  padding: 4rem;
  border-radius: 12px;
  max-width: 600px;
  text-align: center;
}

#modal-message {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

#new-deck {
  background: #e02401;
  transition: 0.35s;
  border-color: #fff;
  color: #fff;
}

#new-deck:hover,
#new-deck:focus {
  box-shadow: 0 0 #444;
  background: #ff3c19;
  color: #941600;
  border-color: #941600;
}

#middle-section {
  grid-area: middle;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  background-image: url("/images/table.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto 1rem;
}

#dealer-cards {
  justify-content: flex-end;
  width: 60%;
}

#player-cards {
  justify-content: flex-start;
  width: 60%;
  right: 2rem;
}

#dealer-container {
  width: 100%;
}

#player-container {
  width: 100%;
}

#player-message {
  padding: 1rem;
  background: #eee;
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
  width: 80%;
  border-radius: 12px;
  margin: 1rem auto;
  grid-area: text;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#player-name {
  margin-right: 1rem;
  font-weight: bolder;
  font-size: 2rem;
  display: flex;
  text-align: right;
}

#player-sum {
  background: #0e5dc4;
  text-align: right;
  padding-right: 2rem;
  position: relative;
  bottom: 4rem;
}

#player-cards .card-image {
  box-shadow: 0px 0px 3px 3px rgba(6, 54, 117, 0.7);
  border-radius: 5px;
}

#dealer-sum {
  background: #c42918;
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 2rem;
  position: relative;
  top: 4rem;
}

#dealer-cards .card-image {
  box-shadow: 0px 0px 3px 3px rgba(100, 21, 12, 0.7);
  border-radius: 5px;
}

.card-sum {
  padding: 0.5rem;
  color: white;
  width: 100%;
  font-size: 1.5rem;
  /* position: relative; */
  height: 40%;
  display: block;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
}

#buttons-container {
  grid-area: buttons;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#draw-card {
  visibility: hidden;
  background: #02783a;
  max-width: 150px;
  color: #eee;
}

#draw-card:hover,
#draw-card:focus {
  background: #00c45f;
  color: #024d26;
  border-color: #024d26;
  box-shadow: 0px 0px #000;
}

#stay-btn {
  visibility: hidden;
  background: #eee;
  max-width: 150px;
  border-color: #c42918;
  color: #c42918;
}

#stay-btn:hover,
#stay-btn:focus {
  background: #64150d;
  color: #f58679;
  border-color: #f58679;
  box-shadow: 0px 0px #999;
}

#ok-btn {
  visibility: hidden;
}

.cards-container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
}

/* * {
  border: 1px solid red;
} */

.btn {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  border-radius: 12px;
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.bottom-btn {
  width: 40vw;
  transition: 0.35s;
}

.nav-btn {
  padding: 0.25rem;
  font-size: 16px;
  width: 120px;
  height: 2rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 6px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(100, 100, 100, 0.6);
  transition: 0.35s;
}

.nav-btn:hover,
.nav-btn:focus {
  box-shadow: 0 0 #fff;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 450px) {
  #player-name {
    font-size: 1.5rem;
  }

  #player-message {
    margin: 0 auto;
    font-size: 20px;
  }

  #player-sum,
  #dealer-sum {
    padding: 1rem;
    margin: 0 0.25rem;
    font-size: 1rem;
  }

  main {
    padding: 0 1rem;
  }
}
